.error {
    color: red !important;
}

body {
    background-color: #eee !important;
}

.idesc, .iname {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.tablefixed {
    table-layout: fixed !important;
}

th:hover {
    cursor: pointer;
    text-decoration: underline;
}

#basic-nav-dropdown {
    width: fit-content !important;
}

.dropdown-menu {
    min-width: auto !important;
}