.error {
    color: red !important;
}

body {
    background-color: #eee !important;
}

.idesc, .iname {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.tablefixed {
    table-layout: fixed !important;
}

th:hover {
    cursor: pointer;
}